// @font-face {
//   font-family: 'BrownTT' !important;
//   src: url('../../fonts/BROWNTT-REGULAR.TTF') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'brownttregular';
  src: url('../../fonts/browntt-regular-webfont.woff2') format('woff2'),
       url('../../fonts/browntt-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html, .p-component {
  font-family: 'brownttregular' !important;
}

body {
  font-family: 'brownttregular' !important;
  text-transform: lowercase !important;
}

.tabs, .menu-tab {
  font-family: 'brownttregular' !important;
}
.start-button {
    background-color: #51545D;
    color: #FFF;
    padding: 30px 30px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-transform: lowercase;
    outline: none;
    transition: background-color 0.3s ease;
  }

  .background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
  }
  
  .layer {
    background-color: #78838E;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .menu-container {
    background-color: #fff;
}

.menu-header {
    text-align: center;
    margin-bottom: 20px;
}

.menu-header h2 {
    font-size: 18px;
    color: #555;
    margin: 0;
}

.menu-header h1 {
    font-size: 24px;
    color: #222;
    margin: 5px 0 0 0;
}

.menu-tabs {
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}

.menu-tabs ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.menu-tabs li {
    padding: 20px;
    cursor: pointer;
    color: #888;
    font-weight: bold;
    font-size: 20px;
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.standard-header {
  color: #51545D;
  font-size: 16pt;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 0px;
}

.menu-item-details p {
  color: #51545D;
  font-size: 12pt;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item-price {
  color: #B39137;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product-detail-container {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.product-image img {
    width: 100%;
    border-radius: 8px;
}

.item-info h2 {
    font-size: 16pt;
    font-weight: bold;
    margin: 8px 0;
    color: #51545D;
}

.item-info p {
    color: #51545D;
}

.quantity-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
}

.quantity-selector button {
    background-color: #f5f5f5;
    border: none;
    padding: 8px 16px;
    font-size: 18px;
    cursor: pointer;
}

.quantity-selector span {
    margin: 0 16px;
    font-size: 18px;
}

.add-to-order {
    //width: 100%;
    padding: 20px 0;
    background-color: #51545D;
    color: white;
    font-size: 18px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    right: 0;
}

.add-item {
  background-color: #78838E;
  padding: 20px 0;
    background-color: #51545D;
    color: white;
    font-size: 18px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: auto;
}

.order-confirmation-container {
    background-color: #7B848D; /* Gray background */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* White text color */
  }
  
  .text-content {
    text-align: center;
  }
  
  .main-heading {
    font-size: 26px;
    color: #D6B04A; /* Yellow color for the main heading */
  }
  
  .sub-heading {
    font-size: 14px;
    color: white; /* Adjust based on readability */
  }
  
  .order-number {
    text-align: center;
    margin-top: 20px;
  }
  
  .order-number p {
    font-size: 16px;
  }
  
  .order-number h2 {
    font-size: 48px;
    color: white;
  }
  
  .receipt-icon {
    margin-top: 30px;
  }
  
  .receipt-icon img {
    width: 60px;
    height: auto;
  }

  .clsbtn {
    color: #51545D;
    font-size: 16pt;
    font-style: normal;
    font-weight: 300;
  }

  @media (max-width: 768px) {
    .d-none {
       display: none;
    }
}


.cart-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.cart-list {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-item-details {
  display: flex;
  gap: 20px;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-actions button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-item-actions button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.remove-button {
  background-color: red;
  color: white;
  padding: 5px 10px;
}

.payment-section {
  margin-bottom: 20px;
}

.cart-footer {
  text-align: center;
}

.order-button {
  background-color: #7a7a7a;
  color: white;
  padding: 15px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.order-selector button {
  background-color: #f5f5f5;
  border: none;
  padding: 8px 16px;
  font-size: 18px;
  cursor: pointer;
}

.container {
  display: flex;
  height: 100vh;
}

.menu-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.menu-tabs ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}

.menu-tabs li {
  padding: 10px;
  cursor: pointer;
}

.menu-items {
  flex: 1;
  overflow-y: auto;
}

.menu-item-details {
  flex: 1;
}

.menu-item-price {
  font-weight: bold;
  color: #fdbb00;
}

.sticky-cart-summary {
  background-color: #51545D;
  color: white;
  font-size: 16pt;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: auto;
  right: 0;
  bottom: 0;
}

.menu-item {
  justify-content: space-between;
  width: 100%;
  // align-items: center;
  display: flex;
  gap: 12px;
}

.menu-item-left {
  display: flex;
  align-items: center;
}

.menu-item-label {
  margin-left: 10px;
  font-size: 16pt;
  color: #51545D;
}

.container {
  display: flex;
  height: 100vh;
}

.sticky-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.menu-tabs ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}

.menu-tabs li {
  padding: 10px;
  cursor: pointer;
}

.menu-item-details {
  flex: 1;
}

.menu-item-price {
  font-weight: bold;
  color: #fdbb00;
}


.container {
  display: flex;
  height: 100vh;
}

.sticky-image-area {
  // flex: 1;
  position: sticky;
  top: 0;
}

.menu-tabs ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
}

.menu-tabs li {
  padding: 10px;
  cursor: pointer;
}

.menu-tabs li.active {
  color: #fdbb00;
  border-bottom: 2px solid #fdbb00;
}

.menu-item-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 8px;
}

.menu-item-price {
  font-weight: bold;
  color: #fdbb00;
}

.ad-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  //opacity: 0;
  transition: opacity 1s ease-in-out;
}

.ad-image.fade-in {
  opacity: 1;
}

.ad-image.fade-out {
  opacity: 0;
}

.payment-option {
  border: 2px solid #ccc;
  width: 150px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.payment-option.selected {
  border-color: #007bff; /* Highlighted color when selected */
  background-color: #f0f8ff; /* Light background when selected */
  color: #007bff;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7); /* Black background with transparency */
  z-index: 999; /* Ensures the overlay is on top */
  cursor: pointer;
}

/* Center the GIF in the overlay */
.overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden-checkbox {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  cursor: pointer;
}

.checkmark {
  width: 24px;
  height: 24px;
  border: 2px solid #ccc; 
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.checked {
  border-color: #B39137; /* Make the border match the checkmark */
}

.checked::after {
  content: "";
    position: absolute;
    top: 3px;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid #B39137;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom-radio {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
}

.hidden-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radiomark {
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.radiomark.checked {
  border: 2px solid #B39137; /* Change this to your preferred checked color */
}

.custom-radio:hover .radiomark {
  border-color: #999; /* Adds a hover effect */
}


/* CSS for making the image sticky */
.left-image {
  position: sticky;
  top: 10px; /* Adjust the value based on your layout */
  align-self: flex-start;
  max-width: 100%; /* Make sure it doesn't overflow */
}

/* CSS for making the top categories sticky */
.top-categories {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it stays above the content */
  background-color: white; /* Ensure it's readable against content below */
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: Add some shadow for better visibility */
}

/* Container for the whole app */
.app-container {
  display: flex;
  height: 100vh;
}

/* Left Sidebar */
.sidebar {
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
  height: 100vh;
}

/* Right Content Area */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Sticky Top Bar */
.top-bar {
  background-color: #fff;
  padding-top: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Scrollable Chat Area */
.chat-area {
  flex: 1;
  overflow-y: auto;
  height: calc(100vh - 50px); /* Adjust height to leave space for sticky top bar */
}


.top-bar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabs {
  display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 10px; /* Optional: Add padding for a better scrollable experience */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
  justify-content: space-around;
}

.menu-tab {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16pt;
  text-transform: lowercase;
}

.active-tab {
  //font-weight: bold;
  color: #b39237;
  border-bottom: 2px solid #b39237;
}

.category-content {
  padding: 10px 20px 20px 20px;
  background-color: #fafafa;
}

.floating-home-button {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  z-index: 9999 !important;
}

.scrollable {
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
}

::-webkit-scrollbar {
  display: none;
}

/*scroll*/
.product-menu {
  display: flex;
  flex-direction: column;
}

.category-bar {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.category-container {
  display: flex;
  gap: 20px;
  padding: 0 10px;
}

.category-item {
  cursor: pointer;
  padding: 5px 10px;
  color: gray;
  font-weight: bold;
}

.category-item.active {
  color: black;
  border-bottom: 2px solid orange;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 10px;
}

.product-item {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.custom-timeout-dialog {
  background-color: #f5f5f5; /* Light grey */
  color: #333; /* Dark text */
  border-radius: 8px; /* Rounded corners */
  padding: 20px 0px 0px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

.custom-timeout-dialog h1 {
  color: #d9534f; /* Red for warning */
  font-size: 1.5rem;
}

.custom-timeout-dialog .p-dialog-header {
  background: none;
}

.custom-timeout-dialog .p-dialog-header {
  padding: 0px 20px;
  color: #AF9030;
  text-align: center;
}

.custom-timeout-dialog .p-dialog-header-icons {
  display: none;
}

.custom-timeout-dialog .p-dialog-content {
  background: none;
}

.custom-timeout-dialog .p-dialog-footer {
  background: none;
  padding: 0px;
  text-align: center;
}

.custom-timeout-dialog .p-button-primary {
  background-color: #79838D; /* Blue */
  border: none;
}

.custom-timeout-dialog .p-button-secondary {
  background-color: #fff; /* Grey */
  border: 1px solid #79838D;
  color: #79838D;
}

.countdown-timer {
  font-size: 1rem;
  color: #AF9030; /* Orange for countdown */
  text-align: center;
  margin-bottom: 0px;
}

.c-brown {
  color: #51545D;
}

.custom-btn {
  border: none;
  border-radius: 0px;
}

.hnh-dialog label {
  margin-bottom: 4px;
  margin-top: 4px;
  display: block;
}












  

